<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="NewDate()" *ngIf="UserCanAddNewDate()">  
        <ion-icon name="add"></ion-icon>
      </button>
      <!-- <button ion-button icon-only (click)="SyncDates()" >
        <ion-icon name="sync"></ion-icon>
      </button> -->
      <button ion-button icon-only (click)="UploadDates()" *ngIf="UserCanAddNewDate()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let date of AllDates">
    <div (click)="OpenDate(date)">
      <ion-card-header>
        <b>{{ date.TheDateHtml }} um {{ date.TheTime }}</b>
      </ion-card-header>
      <ion-list>
        <ion-item>
          Wo: {{ date.TheLocation }}
        </ion-item>
        <ion-item>
          Zusagen:
        </ion-item>
        <ion-item>
          Spiele:
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

</ion-content>